<!DOCTYPE html>
<html lang="br" ng-app="unidescApp">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link href="./node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
   <link href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

   <title>Angular Application</title>
</head>

<body ng-controller="produtoController as vm" ng-init="vm.init()">
   <div class="container">

      <div class="row justify-content-center">

         <form class="form-group">
            <h1>Cadastrar Produtos</h1>
            <label for="inputProduto">Produto</label>
            <input type="text" id="inputProduto" name="inputProduto" placeholder="Digite o Produto" class="form-control"
               ng-model="vm.produto.nome" required>

            <h1>Preço Produtos</h1>
            <label for="inputPreço">Preço</label>
            <input type="text" id="inputPreço" name="inputPreço" placeholder="Digite o Preço" class="form-control"
               ng-model="vm.produto.preco" required>

            <button type="submit" class="btn btn-success" ng-click="vm.adicionarProduto()">Adicionar</button>
            <button type="reset" class="btn btn-danger" ng-click="vm.limparCampos()">Limpar</button>
         </form>
      </div>
      <div class="row justify-content-center">
         <table class="table-borded table-striped">
            <tr>
               <th>Produto</th>
               <th>Preço</th>
            </tr>
            <tbody>
               <tr ng-repeat="item in vm.produtos track by $index">
                  <td>{{item.name}}</td>
                  <td>{{item.price}}</td>
                  <td>
                     <i aria-hidden="true" class="fas fa-trash" ng-click="vm.delProdTab()"> </i>

                  </td>
                  <td></td>
                  <td>
                     <i aria-hidden="true" class="fas fa-edit" ng-click="vm.updateProdTab(item, $index)"></i>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row justify-content-center">
         <form ng-if="update">
            <label for="updateProduto">Novo Nome</label>
            <input type="text" id="updateProduto" name="updateProduto" placeholder="Novo nome" class="form-control"
               ng-model="update.nome" required>


            <label for="inputPreço">Preço</label>
            <input type="text" id="inputPreço" name="inputPreço" placeholder="Digite o Preço" class="form-control"
               ng-model="update.preco" required>


            <button class="btn btn-success" ng-click="vm.saveUpdate()">Salvar</button>
         </form>
      </div>

   </div>

   <script src="./node_modules/angular/angular.min.js"></script>
   <script src="./app/app.js"></script>
   <script src="./app/controllers.js"></script>

</body>

</html>